# Ignore Python virtual environment
venv/

# Ignore compiled files
__pycache__/
*.pyc

# Ignore IDE/project files
.vscode/
.idea/

# Ignore temporary data/logs
*.log
*.tmp
*.bak

# Ignore Jupyter notebook checkpoints (if any)
.ipynb_checkpoints/
data/RealWaste
